.section {
  width: 500px;
  margin: 0 auto; /* Centers the section horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  gap: 1rem;
}