.section {
  max-width: 600px;
  margin: 0 auto; /* Centers the section horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* This will make the children of .form stretch to fill the container */
}

.input-field {
  position: relative;
}

.results-list {
  position: absolute;
  top: 100%; /* Positions the list right below the input field */
  left: 0;
  width: 100%; /* Ensures it matches the width of the input field */
  z-index: 1; /* Ensures it overlays above other content */
}